:root {
  --font-family-main: roboto, 'Times New Roman', serif;
  --header-height: 70px;
  --left-side-menu-height: 270px;

  --white: #fff;
  --lavender-syrup: #e4e6f1;
  --hopeful-dream: #97aacd;
  --ghost-white: #f6f9fe;
  --white-solid: #f5f5fc;
  --cloudless: #d9e7ff;
  --sky-captain: #252a32;
  --sky-dancer: #449cf4;
  --heritage-blue: #4b97b8;
  --royal-blue: #4368e0;
  --norfolk-sky: #68c2e9;
}
