.input-wrapper {
  display: flex;
  position: relative;
  padding: 5px;
  border-radius: 2px;
  background-color: var(--white);
  width: 100%;


  input {
    width: 100%;
    border-radius: 2px;
    border: 0.5px solid var(--lavender-syrup);
    padding: 5px;
    font-size: 11px;
  }


  .leftIcon {
    position: absolute;
    top: 6px;
    left: 12px;

    svg {
      fill: var(--plum-smoke);
    }
  }
}

.input-error {
  color: red;
  font-size: 14px;
  padding: 0 10px;
}
